# Entorno virtual
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Variables de entorno
.env
.env.*

# Base de datos local
*.sqlite
*.db

# PostgreSQL dumps
*.sql

# Alembic cache
alembic/__pycache__/

# Logs
*.log

# Sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp

# Variables de Python
*.egg-info/

# Compilados
build/
dist/

# Test
.pytest_cache/
.coverage

# Archivos de configuración personales
config.local.*